body{
  background-color: rgb(181, 255, 185);
}



.board {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    align-items: stretch;
    max-width: 800px;
    margin: auto;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.tile {
    width: 150px;
    height: 150px;
    background-color: rgb(206, 130, 16);
    border: black solid 3px;
    border-radius: 3px;
    box-shadow: 3px 3px;
}

.tile:hover{
  -webkit-transform:scale(1.05); /* Safari et Chrome */
  -moz-transform:scale(1.05); /* Firefox */
  -ms-transform:scale(1.05); /* Internet Explorer 9 */
  -o-transform:scale(1.05); /* Opera */
  transform:scale(1.05);
}

#tries{
  padding-top: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#divReset{
  display: flex;
  justify-content: center;
}

@media (max-width: 700px) {
    .tile {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 450px) {
    .tile {
        width: 70px;
        height: 70px;
    }
}




@media (max-width: 350px) {
    .tile{
        width: 50px;
        height: 50px;
    }
}

.tile {
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile.A {
  background: transparent;
  background-image: url('Projet/Bigard.png');
  background-size: cover;
}


.tile.B {
  background: transparent;
  background-image: url('Projet/Zemmour.png');
  background-size: cover;
}


.tile.C {
  background: transparent;
  background-image: url('Projet/Jean.jpg');
  background-size: cover;
}

.tile.D {
  background: transparent;
  background-image: url('Projet/Macron.png');
  background-size: cover;
}

.tile.E {
  background: transparent;
  background-image: url('Projet/Melenchon.png');
  background-size: cover;
}

.tile.F {
  background: transparent;
  background-image: url('Projet/LePen.png');
  background-size: cover;
}

.tile.G {
  background: transparent;
  background-image: url('Projet/Lassalle.png');
  background-size: cover;
}

.tile.H {
  background: transparent;
  background-image: url('Projet/Kim.png');
  background-size: cover;
}